.titulo-fino{
    font-weight: lighter;
}

p{
    font-weight: 300;
    font-size: 1.3rem;
}

.img-cover{
    object-fit:cover !important;
    width: 100%;
}

.thumb-img{
    object-fit:cover !important;
    height: 200px;
}