.img-cover{
    object-fit:contain !important;
    width: 100%;
}

.thumb-img{
    object-fit:cover !important;
    height: 150px;
}

.descr-projeto{
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

a{
    padding: 0 15px;
    text-decoration: none;
    /* border-right: 1px solid #111; */
}