.img-cover{
    object-fit: cover !important;
    height: 100%;
    max-height: 250px;
}

.descr-projeto{
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

a{
    padding: 0 15px;
    text-decoration: none;
}