/* ListProjeto.css */
.list-item {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
}

.list-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.list-title {
    font-weight: bold;
    margin-right: 1rem;
}

.list-text {
    margin-right: 1rem;
}

.list-actions {
    display: flex;
    align-items: center;
}

.btn {
    margin-right: 0.5rem;
}

.link-repo, .link-edit {
    /* margin-left: 0.5rem; */
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
}

.link-repo:hover, .link-edit:hover {
    color: #0056b3;
}
